.dashboard {
  display: flex;
}

.dashboard-main {
  flex: 1;
  margin-left: 240px; /* espacio para el navbar lateral */
  padding: 1rem;
  background: #f9fafb;
  min-height: 100vh;
}

.dashboard-main h1 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-left: 0;
}

.finance p {
  font-size: 1.3rem;
  font-weight: bold;
}

.positivo {
  color: #16a34a;
}

.negativo {
  color: #dc2626;
}

/* Tarjetas resumen */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  text-align: center;
}

.card h3 {
  font-size: 1rem;
  color: #6b7280;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Gráficos */
.charts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

.chart-box {
  background: #fff;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
}

.chart-box h3 {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: #333;
}


/* Tabla stock crítico */
.stock-critico {
  background: white;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.stock-critico table {
  width: 100%;
  border-collapse: collapse;
}

.stock-critico th,
.stock-critico td {
  padding: 0.8rem;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
}

.stock-critico th {
  background: #f3f4f6;
}

.critico {
  color: #b91c1c;
  font-weight: 600;
}

/* Responsivo */
@media (max-width: 1024px) {
  .charts-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .dashboard-main h1 {
    margin-left: 2.3rem;
  }
  .dashboard-main {
    margin-left: 0; /* El navbar colapsa en móvil */
    padding: 1rem;
  }
}
